.loader {
  position: fixed;
  inset: 0;

  z-index: 99999;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #020914;
  color: #ffffff;
}

.loader-content {
  width: min(500px, 80%);

  text-align: center;
}


/* =========================
   LOGO
========================= */

.loader-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 35px;
}

.loader-logo img {
  display: block;

  width: 190px;
  height: auto;

  object-fit: contain;

  filter:
    drop-shadow(0 0 20px rgba(72, 170, 255, 0.25));

  animation: loaderLogoFloat 2s ease-in-out infinite;
}

@keyframes loaderLogoFloat {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }
}


/* =========================
   NUMBER
========================= */

.loader-number {
  margin-bottom: 25px;

  color: #ffffff;

  font-size: 70px;
  font-weight: 800;

  line-height: 1;
}

.loader-number small {
  margin-left: 4px;

  color: #48aaff;

  font-size: 25px;
  font-weight: 600;
}


/* =========================
   PROGRESS
========================= */

.loader-progress {
  width: 100%;
  height: 3px;

  overflow: hidden;

  background: rgba(255, 255, 255, 0.1);

  border-radius: 10px;
}

.loader-progress-bar {
  height: 100%;

  background: #168cff;

  box-shadow:
    0 0 15px rgba(22, 140, 255, 0.8);

  transition: width 0.02s linear;
}


/* =========================
   BOTTOM
========================= */

.loader-bottom {
  display: flex;
  justify-content: space-between;

  margin-top: 13px;

  color: #60758b;

  font-size: 9px;
  font-weight: 600;

  letter-spacing: 1.5px;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 500px) {

  .loader-content {
    width: 82%;
  }

  .loader-logo img {
    width: 155px;
  }

  .loader-number {
    font-size: 58px;
  }

  .loader-number small {
    font-size: 20px;
  }

  .loader-bottom {
    font-size: 8px;
  }
}